/*      =====   GENERAL STYLES    =====      */

body, input {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0 20px;
}

a {
    text-decoration: none;
}

.notMobile {
    display: none;
}

/*      =====   VARIABLE        =====      */

:root {
    --mainTextColor: black;
    --secondaryTextColor: white;
    --titleColor: #D6000D;

    --biggestTextSize: 3.8rem;
    --biggerTextSize: 3.2rem;
    --bigTextSize: 1.8rem;
    --normalTextSize: 1.5rem;
    --smallTextSize: 1.3rem;
    --smallerTextSize: 1.1rem;

    --buttonColor: #D6000D;
    --buttonSecondaryColor: #b3000c;
    --buttonTextColor: white;
}

/*      =====   HEADER        =====      */

header {
    padding: 60px 0 40px 0;
}

header h1 {
    color: var(--titleColor);
    font-size: var(--biggestTextSize);
    font-style: italic;
    text-align: center;
    margin: 0;
}

header span {
    color: var(--mainTextColor);
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

header a {
    font-size: var(--normalTextSize);
    color: var(--mainTextColor);
    margin: 0 20px;
}



/*      =====   MAIN    =====      */

main #firstSection{
    text-align: center;
    padding-bottom: 150px;
}

main #firstSection img{
    width: 300px;
}

main #firstSection div {
    margin-top: 63px;
}


main #firstSection p{
    font-size: var(--normalTextSize);
    font-weight: 600;
    /* margin: 65px 0 33px 0; */
    margin: 0 0 33px 0;
}

main #firstSection strong {
    font-size: var(--biggerTextSize);
    color: var(--titleColor);
}

main #firstSection button {
    background-color: var(--buttonColor);
    color: var(--secondaryTextColor);
    font-size: var(--normalTextSize);
    font-weight: 300;
    border: none;
    border-radius: 15px;
    padding: 20px 75px;
}

#secondSection {
    padding: 80px 20px;
    text-align: center;
}
#secondSection img {
    width: 230px;
}

#secondSection ul {
    font-size: var(--normalTextSize);
    padding: 0;
    margin: 0 0 0 110px ;
    text-align: left;
    list-style-type: none;
}

#secondSection li {
    margin: 35px 0;
    display: flex;
    align-items: center;
}

#secondSection li:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 20px;
    background-image: url(../assets/checked-list.svg);
    background-repeat: no-repeat;
    margin-right: 15px;
}

#secondSection strong {
    font-size: var(--normalTextSize);
}

#secondSection input {
    background-color: #e0e0e0;
    font-size: var(--normalTextSize);
    display: block;
    padding: 20px 25px;
    border-radius: 15px;
    border: none;
    margin: 20px auto 15px;
    width: 250px;
}

#secondSection button {
    background-color: var(--buttonColor);
    color: var(--secondaryTextColor);
    font-weight: 600;
    padding: 23px;
    width: 300px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: var(--smallTextSize);
    margin: 0 auto;
}

#thirdSection .comment {
    background-color: #e0e0e0;
    font-size: var(--smallerTextSize);
    border-radius: 15px;
    padding: 20px;
    margin: 33px 0;
    display: flex;
    align-items: flex-start;
}

#thirdSection img {
    width: 80px;
}

#thirdSection blockquote {
    margin: 0 0 0 20px;
}

#thirdSection h2 {
    margin: 10px 0 0 0;
    font-size: var(--bigTextSize);
    font-weight: 400;
}

#thirdSection span {
    font-weight: 600;
}

/*      =====   FOOTER    =====      */

footer {
    background-color: black;
    color: var(--secondaryTextColor);
    padding: 20px;
}

footer #footerTitle {
    text-align: center;
}

footer h1{
    font-size: var(--biggestTextSize);
    font-style: italic;
    margin: 0;
}

footer #footerTitle  span{
    font-size: var(--normalTextSize);
    margin: 0;
}

footer h2 {
    font-size: var(--bigTextSize);
    margin: 40px 0 0;
}

footer p {
    font-size: var(--smallerTextSize);
    width: 190px;
    margin: 0;
}

footer ul {
    padding: 0;
    margin: 20px 0;
}

footer li {
    list-style-type: none;
    margin: 13px 0;
}
footer a {
    color: var(--secondaryTextColor);
    text-decoration: underline var(--secondaryTextColor);
}

footer #social-medias {
    display: flex;
}

footer .social-media {
    width: 45px;
}

footer #social-medias li {
    margin: 0 40px 0 0;
}

/*      =====   ANIMATIONS    =====      */

header .container button:hover, #firstSection button:hover, #secondSection button:hover {
    background-color: var(--buttonSecondaryColor);
    transition: .3s;
}

/*      =====   RESPONSIVENESS    =====      */

@media (min-width: 800px) {


    
    /*      =====   VARIABLE        =====      */
    
    :root {

    --biggestTextSize: 3rem;
    --biggerTextSize: 3.2rem;
    --bigTextSize: 1.8rem;
    --normalTextSize: 1.3rem;
    --smallTextSize: 1.3rem;
    --smallerTextSize: 1.1rem;
    }

    /*      =====   GENERAL STYLES    =====      */
    
    .notMobile {
        display: block;
    }

    .container {
        padding: 80px 0 80px 120px;
    }

    /*      =====   HEADER    =====      */

    header {
        padding: 10px 0;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    header ul {
        align-items: center;
    }

    header button {
        font-size: var(--normalTextSize);
        background-color: var(--buttonColor);
        color: var(--secondaryTextColor);
        font-weight: 500;
        border: none;
        border-radius: 10px;
        padding: 8px 60px;
        margin-left: 20px;
    }
    
    /*      =====   MAIN    =====      */

    main #firstSection {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    }
    
    main #firstSection img {
        width: 370px;
    }

    main #firstSection strong {
        display: block;
    }

    main #firstSection div {
        margin: 0 0 0 80px;
    }

    main #firstSection button {
        font-weight: 600;
        padding: 10px 45px;
        border-radius: 10px;
    }
    
    main #secondSection {
        padding: 80px 0 80px 120px;
        text-align: left;
    }

    main #divSecondSection {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        align-items: center;
        justify-content: center;
    }

    
    main #secondSection img {
        width: 400px;
        height: 100%;
    }
    
    main #secondSection ul {
        margin: 0 150px 0 0;
    }
    
    main #secondSection li {
        margin: 15px 0;
    }

    main #divForm {
        display: flex;
        flex-direction: column;
        width: 800px;
        margin: auto;
        justify-content: center;
    }

    main #secondSection form {
        display: flex;
        margin-top: 15px;
    }

    main #secondSection input {
        box-sizing: border-box;
        width: 300px;
        padding: 17px;
        margin: 0;
    }

    main #secondSection button {
        width: 300px;
        padding: 17px;
        margin: 0 0 0 10px;
    }

    main #thirdSection {
        display: flex;
        justify-content: space-between;
        padding: 150px 50px 100px 50px;
    }

    main #thirdSection .comment {
        margin: 0 15px;
        width: 100%;
    }    

    /*      =====   FOOTER    =====      */

    footer {
        padding: 30px;
    }
    
    footer .container {
        padding: 30px 0 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer h1 {
        text-align: left;
    }

    footer h2 {
        margin: 10px 0 10px 0; 
    }

    footer ul {
        margin: 0;
    }

    footer li {
        margin: 0 0 10px 0;
    }
    
    footer .social-media {
        width: 35px;
    }

    footer #social-medias li {
        margin: auto;
    }
}