/*      =====   GENERAL STYLES    =====      */

body, input {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0 20px;
}

a {
    text-decoration: none;
}

/*      =====   VARIABLE        =====      */

:root {
    --mainTextColor: black;
    --secondaryTextColor: white;
    --titleColor: #D6000D;

    --buttonColor: #D6000D;
    --buttonSecondaryCoor: #8a0009;
    --buttonTextColor: white;
}

/*      =====   HEADER        =====      */

header {
    padding: 60px 0 40px 0;
}

header h1 {
    color: var(--titleColor);
    font-size: 3.7rem;
    font-style: italic;
    text-align: center;
    margin: 0;
}

header span {
    color: var(--mainTextColor);
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

header a {
    font-size: 1.4rem;
    color: var(--mainTextColor);
    margin: 0 20px;
}



/*      =====   MAIN    =====      */

main #firstSection{
    text-align: center;
    padding-bottom: 150px;
}

main #firstSection img{
    width: 300px;
}

main #firstSection p{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 65px 0 33px 0;
}

main #firstSection strong {
    font-size: 3.2rem;
    color: var(--titleColor);
}

main #firstSection button {
    background-color: var(--buttonColor);
    color: var(--secondaryTextColor);
    font-size: 1.4rem;
    font-weight: 300;
    border: none;
    border-radius: 15px;
    padding: 20px 75px;
}

#secondSection {
    padding: 80px 20px;
    text-align: center;
}
#secondSection img {
    width: 230px;
}

#secondSection ul {
    font-size: 1.5rem;
    padding: 0 0 0 110px;
    margin: auto 0;
    text-align: left;
}

#secondSection li {
    margin: 35px 0;
}

#secondSection strong {
    font-size: 1.5rem;
}

#secondSection input {
    background-color: #e0e0e0;
    font-size: 1.5rem;
    display: block;
    padding: 20px 25px;
    border-radius: 15px;
    border: none;
    margin: 20px auto 15px;
    width: 250px;
}

#secondSection button {
    background-color: var(--buttonColor);
    color: var(--secondaryTextColor);
    font-weight: 600;
    padding: 23px;
    width: 300px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 1.3rem;
    margin: 0 auto;
}

#thirdSection .comment {
    background-color: #e0e0e0;
    font-size: 1.1rem;
    border-radius: 15px;
    padding: 20px;
    margin: 33px 0;
    display: flex;
    align-items:flex-start;
}

#thirdSection img {
    width: 80px;
}

#thirdSection blockquote {
    margin: 0 0 0 20px;
}

#thirdSection h2 {
    margin: 10px 0 0 0;
    font-size: 1.8rem;
    font-weight: 400;
}

#thirdSection span {
    font-weight: 600;
}

/*      =====   FOOTER    =====      */

footer {
    background-color: black;
    color: var(--secondaryTextColor);
    padding: 20px;
}

footer #footerTitle {
    text-align: center;
}

footer #footerTitle  h1{
    font-size: 3.7rem;
    font-style: italic;
    margin: 0;
}

footer #footerTitle  span{
    font-size: 1.4rem;
    margin: 0;
}

footer h2 {
    font-size: 1.7rem;
    margin: 40px 0 0;
}

footer p {
    font-size: 1.1rem;
    width: 190px;
    margin: 0;
}

footer ul {
    padding: 0;
    margin: 20px 0;
}

footer li {
    list-style-type: none;
    margin: 13px 0;
}
footer a {
    color: var(--secondaryTextColor);
    text-decoration: underline var(--secondaryTextColor);
}

footer #social-medias {
    display: flex;
}

footer .social-media {
    width: 45px;
}

footer #social-medias li{
    margin: 0 40px 0 0;
}

/*      =====   ANIMATIONS    =====      */

/*      =====   RESPONSIVENESS    =====      */

/*      =====   VARIABLE        =====      */

/*      =====   GENERAL STYLES    =====      */

/*      =====   HEADER    =====      */

/*      =====   MAIN    =====      */

/*      =====   FOOTER    =====      */

